/ practica_BLOG.html
/.directory
/1DAM
/Base de Datos
/D_Sayas_Formularios
/David_Sayas_zoo.odb
/ED
/ED_Git
/EnDe_ViStuCode
/FIGURAS GEOMETRICAS.zip
/Fitxer de text.txt
/Git_LM_Clonado
/LM
/Listas_D_Sayas-1.pdf
/Programacion
/REPASO
/UD.zip
/UD1
/UD2
/UD3
/UD4
/contraseña
/exercicis de codificació caracters.odt
/netbeans_netbeans.desktop
/pdf2doc(1).zip
/pdf2doc.zip
/pruebas lm
/si
/code.desktop
/eclipse_eclipse.desktop
/google-chrome.desktop
/intellij-idea-community_intellij-idea-community.desktop
/libreoffice-base.desktop